/*

Project Name:A_Studio
Author: Asad
Support: ammilton86@gmail.com
Description: A_Studio is creative html5 responsive template.
Version: 1.0
Company: amm network


===============
TABLE OF INDEX
===============

01.
02.
03.
04.
05.
06.


*/

/* Default */
body {
  font-family: Roboto Condensed
}

h1 {
  font-family: Roboto Condensed
}

h2 {
  font-family: Roboto Condensed
}

p {
  font-family: Roboto Condensed;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Variables */
:root {
  --primary: #e34335;
  --secondary: #ffffff;
}